<div id="body-dash">

  <div class="cards-dashboard-container">
    <div class="card-dashboard">
        <h2>Mes Profits</h2>
        <p>de l'année dernière</p>
        <% if (@profit_over_the_last_year.to_f.nan? && @profit_two_years.to_f.nan?) %>
          <h3>oui</h3>
        <% else %>
          <h3 class="amount-card"><strong> <%=  (@profit_over_the_last_year /1000).round(1) %>k€</strong><span class='percentage'> (<%= @profit_two_years == 0 ? "-" : ((@profit_over_the_last_year - @profit_two_years)*100/@profit_two_years).round() %>%)</span></h3>
        <% end %>
    </div>
    <div class="card-dashboard">
        <h2>Mes Revenus</h2>
        <p>de l'année dernière</p>
        <% if (@rents_over_the_last_year.to_f.nan? && @rents_two_years.to_f.nan?) %>
          <h3>oui</h3>
        <% else %>
          <h3 class="amount-card"><strong> <%=  (@rents_over_the_last_year /1000).round(1) %>k€</strong><span class='percentage'> (<%= @rents_two_years == 0 ? "-" : ((@rents_over_the_last_year - @rents_two_years)*100/@rents_two_years).round() %>%)</span></h3>
        <% end %>
    </div>
    <div class="card-dashboard">
        <h2>Mes Frais</h2>
        <p>de l'année dernière</p>
        <% if (@expenses_over_the_last_year.to_f.nan? && @expenses_two_years.to_f.nan?) %>
          <h3>oui</h3>
        <% else %>
          <h3 class="amount-card"><strong> <%=  (@expenses_over_the_last_year /1000).round(1) %>k€</strong><span class='percentage'> (<%= @expenses_two_years == 0 ? "-" : ((@expenses_over_the_last_year - @expenses_two_years)*100/@expenses_two_years).round() %>%)</span></h3>
        <% end %>
    </div>
  </div>



  <div class="main-dashboard" data-expenses="<%= @expenses_amount_by_month.to_json %>" data-rents="<%= @rent_amount_by_month.to_json %>">
    <canvas id="bar-chart">

    </canvas>
  </div>

</div>


