<br>
<br>
<br>
<br>
<div id="form-container-rentease">
  <div class="row">
  <h4>AJOUTER UN BIEN</h4>
  </div>
  <br>
  <%= simple_form_for(@housing) do |f| %>
    <div class="form-inputs">
      <div class="row">
        <div class= "col-half">
          <%= f.input :name, label: false, placeholder: "Nom du bien" %>
        </div>
        <div class= "col-half">
          <div>
            <%= f.select :category, ["Appartement", "Maison", "Loft", "Atelier", "Duplex", "Chambre"], label: false, placeholder: "Catégorie" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-half">
          <%= f.input :address, placeholder: "Addresse", label: false %>
        </div>
        <div class="col-half">
          <%= f.input :description, placeholder: "Description", label: false %>
        </div>
        <br>
        <br>
      </div>
      <div class="row">
        <div class= "col-half">
          <%= f.input :nb_rooms, placeholder: "Nombre de chambres", label: false %>
        </div>
        <div class= "col-half">
          <div>
            <%= f.input :surface, placeholder: "Surface", label: false %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class= "col-half">
          <div>
              <h4>Statut</h4>
             <%= f.select :status, ["Loué", "Disponible", "Indisponible"] %>
          </div>
        </div>
        <div class= "col-half">
          <h4>Photo du bien</h4>
          <%= f.input :photo, as: :file, label: false %>
        </div>
      </div>
      <hr size="1" width="100%" color="#DAF552">
    </div>
    <div class="row button-form">
      <div class="btn-outline">
        <%= f.button :submit, "Ajouter un contrat  ->"%>
      </div>
      </div>
      <div class="row button-form">
      <button class="btn-form">Sauvegarder et retourner à mes biens</button>
      </div>

  <% end %>
</div>
