<div class="container">
  <div class="card-housing-show">
    <div class="title-position">
      <h3><%= @housing.name %></h3>
      <div class="btn-outline">
        <%= link_to "Modifier", edit_housing_path(@housing) %>
      </div>
    </div>
    <% if @housing.photo.attached? %>
      <%= cl_image_tag @housing.photo.key, height: 900, width: 1200, crop: :fill %>
    <% end %>
    <%= link_to root_path do %>  <!-- A MODIFIER -->
      <div class="card-housing-show-avatar">
        <% if @housing.get_renter_avatar_on_housing.attached? %>
          <%= cl_image_tag @housing.get_renter_avatar_on_housing.key, height: 400, width: 400, :gravity=>"faces", crop: :fill %>
        <% end %>
      </div>
    <% end %>
    <hr size="1" width="100%" color="#DEDFEC">
    <div class="card-housing-show-infos">
      <div class="text-description">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pin-map" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M3.1 11.2a.5.5 0 0 1 .4-.2H6a.5.5 0 0 1 0 1H3.75L1.5 15h13l-2.25-3H10a.5.5 0 0 1 0-1h2.5a.5.5 0 0 1 .4.2l3 4a.5.5 0 0 1-.4.8H.5a.5.5 0 0 1-.4-.8l3-4z"/>
          <path fill-rule="evenodd" d="M8 1a3 3 0 1 0 0 6 3 3 0 0 0 0-6zM4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999z"/>
        </svg>
        &nbsp;
        <p><%= "#{@housing.address}" %></p>
      </div>
      <div class="text-description">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-door-open" viewBox="0 0 16 16">
          <path d="M8.5 10c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z"/>
          <path d="M10.828.122A.5.5 0 0 1 11 .5V1h.5A1.5 1.5 0 0 1 13 2.5V15h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V1.5a.5.5 0 0 1 .43-.495l7-1a.5.5 0 0 1 .398.117zM11.5 2H11v13h1V2.5a.5.5 0 0 0-.5-.5zM4 1.934V15h6V1.077l-6 .857z"/>
        </svg>
        &nbsp;
        <p><%= "#{@housing.nb_rooms} pièces" %></p>
      </div>
      <div class="text-description">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bounding-box-circles" viewBox="0 0 16 16">
          <path d="M2 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zM0 2a2 2 0 0 1 3.937-.5h8.126A2 2 0 1 1 14.5 3.937v8.126a2 2 0 1 1-2.437 2.437H3.937A2 2 0 1 1 1.5 12.063V3.937A2 2 0 0 1 0 2zm2.5 1.937v8.126c.703.18 1.256.734 1.437 1.437h8.126a2.004 2.004 0 0 1 1.437-1.437V3.937A2.004 2.004 0 0 1 12.063 2.5H3.937A2.004 2.004 0 0 1 2.5 3.937zM14 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zM2 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm12 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
        </svg>
        &nbsp;
        <p><%= "#{@housing.surface}m2" %></p>
      </div>
      <div class="text-description">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
          <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
        </svg>
        &nbsp;
        <p><%= @housing.category %></p>
      </div>
      <!-- <p><%= @housing.status %></p> -->
    </div>
    <hr size="1" width="100%" color="#DEDFEC">
    <div>
      <p><%= @housing.description %></p>
    </div>
  </div>
  <hr size="1" width="100%" color="#DEDFEC">

  <div>
    <% @housing.contracts.each do |contract| %>
      <div class="card-contract">
        <h3><%= "Contract #{contract.id}" %></h3>
        <p class="contract-duration"><%= "#{contract.start_date} / #{contract.end_date}" %></p>
        <!-- <p><%= contract.rent_due_date %></p> -->
        <p><%= "Loyer: #{contract.rent.round}€" %></p>
        <p><%= "Charges: #{contract.rental_expenses.round}€" %></p>
        <p class="contract-price"><%= "Total: #{contract.rent.round + contract.rental_expenses.round}€" %></p>
        <!-- AJOUTER LE LINK_TO -->
        <% if contract.get_renter_avatar.attached? %>
          <%= cl_image_tag contract.get_renter_avatar.key, height: 400, width: 400, :gravity=>"faces", crop: :fill %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>

