<div>
  <% if @housing.photo.attached? %>
    <%= cl_image_tag @housing.photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
  <div>
    <h1><%= @housing.name %></h1>
    <p><%= @housing.address %></p>
    <p><%= @housing.nb_rooms %></p>
    <p><%= "#{@housing.surface}m2" %></p>
    <p><%= @housing.category %></p>
    <p><%= @housing.status %></p>
  </div>
</div>

<div>
  <% @housing.contracts.each do |contract| %>
    <h1><%= "Contract #{contract.id}" %></h1>
    <p><%= "#{contract.start_date} - #{contract.end_date}" %></p>
    <p><%= contract.rent_due_date %></p>
    <p><%= "Rent: #{contract.rent}" %></p>
    <p><%= "Rental Expenses: #{contract.rental_expenses}" %></p>
    <p><%= "Total: #{contract.rent + contract.rental_expenses}" %></p>
  <% end %>
</div>


