<div class="container justify-content-between">
  <button id="btn-expenses" class="btn-accounting-tabs">MES DÉPENSES</button>
  <button id="btn-rents" class="btn-accounting-tabs">MES LOYERS</button>
</div>

<div id="my-expenses">
  <div class="list-housing">
  <div class="container">
    <div class="title-position">
      <h1><%= " " %></h1>
      <div class= "btn-outline">
        <%= link_to "Ajouter une dépense", new_expense_path %>
      </div>
    </div>
  </div>
  </div>
  <div class="container-table">
    <table class = "expense-table">
      <tr>
        <th>
          <select class="select2" id="select-housing" name="housings">
            <option value=all>Tous mes biens</option>
            <% @housings.each do |housing| %>
              <option value="housing-<%= housing.id %>"> <%= housing.name %> </option>
            <% end %>
          </select>
        </th>

        <th>
          <select class="select2" id="select-category" name="categories">
            <option value=all>Toutes les catégories</option>
            <option value="Charges locatives">Charges locatives</option>
            <option value="Taxes foncières">Taxes Foncières</option>
            <option value="Charges copropriété">Charges copropriété</option>
            <option value="Rénovation">Rénovation</option>
            <option value="Prêt">Prêt à la banque</option>
          </select>
        </th>
        <th>Libellés</th>
        <th>Prix</th>
      </tr>
      <% @expenses.each do |expense| %>
      <tr class="expense-row"
          data-housing-id="housing-<%= expense.housing.id %>"
          data-category="<%= expense.category %>" >
        <td><%= expense.housing.name%></td>
        <td><%= expense.category%></td>
        <td><%= expense.name%></td>
        <td><%= expense.amount.round %> €</td>
      </tr>
      <% end %>
    </table>
  </div>
</div>


<div id="my-rents">
  <div class="list-housing">
  <div class="container">
    <div class="title-position">
      <h1><%= "" %></h1>
      <br>
      <br>
    </div>
  </div>
  </div>
  <div class="container-table">
    <table class = "expense-table">
      <tr>



        <th>
          <select class="select2" id="select-housing2" name="housings">
            <option value=all>Tous mes biens</option>
            <% @housings.each do |housing| %>
              <option value="housing-<%= housing.id %>"> <%= housing.name %> </option>
            <% end %>
          </select>
        </th>



        <th><%= "Date" %></th>
        <th><%= "Libellé" %></th>
        <th><%= "Prix" %></th>
      </tr>

      <% @rents.each do |rent| %>
        <tr class="rent-row"
            data-housing-id="housing-<%= rent.housing.id %>">
          <td><%=rent.contract.housing.name%></td>
          <td><%=rent.date%></td>
          <td><%= rent.name %></td>
          <td><%="#{rent.amount.round}€"%></td>
          <!-- <td><%=rent.status%></td> -->
        </tr>
      <% end %>
    </table>
  </div>
</div>
